name: Terraform CI

on:
  pull_request:
    branches:
      - main
    paths:
      - "environments/**"
      - "modules/**"
      - ".github/workflows/terraform-cicd.yml"
  push:
    branches:
      - main
    paths:
      - "environments/**"
      - "modules/**"
      - ".github/workflows/terraform-cicd.yml"

env:
  AWS_REGION: ap-northeast-1
  TERRAFORM_VERSION: "1.5.7"

jobs:
  terraform-fmt:
    name: Terraform Format Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Terraform Format Check
        run: terraform fmt -check -recursive  